#result {
  display: none;
}

#mondays {
  display: none;
}

.grfcs {
  background-image: url(../images/GRFCS.png);
}
div.jumbotron {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

div.well {
  opacity: 0.6;
  filter: alpha(opacity=50);
}
